html,
body {
  max-width: 100vw;
}

body {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.9);
  justify-content: center;
}
.modal-body {
  padding: 20px;
  width: 450px;
  height: 50svh;
  background-color: #ededed;
  position: absolute;
  top: 100px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  overflow: scroll;
  /* right: 20svw; */
}
